{% load static %}
<section id="about" class="about">
	<div class="container">
		<div class="row">
			<div class="about-content">
				<div class="col-md-2 col-sm-2 col-xs-12">
					<div class="section-title">
						<h2>обо<span> мне </span></h2>
					</div>
				</div>
				<div class="col-md-6  col-sm-6 col-xs-12">
					<div class="single-about">
						<p class="bolt">Меня зовут Исфандиёр. Мне 19 год. Интересуюсь разработкой</p>
						<p>web сайтов, web приложений, приложений под Mac OS X и iOS. Для меня программирование это не просто трудовой процесс, но ещё творчество и увлечение.</p>
						<p class="bolt">О себе: Прямолинеен. Трудолюбив. Высокая степень ответственности за реализацию проектов.</p>
						<div class="social">
							<ul>
								<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://www.instagram.com/lllll_dior_lllll/?hl=uk"><i class="fa fa-instagram"></i></a></li>
								<li><a href="https://vk.com/isfandiyor_tjk_44"><i class="fa fa-vk"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="image">
						<img src="{% static 'img/about.jpg' %}" alt="#">
						<a href="404" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End about -->	