{% load static %}
<footer id="footer" class="footer section">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="logo">
						<img src="{% static 'img/nnn.png' %}" alt="#">
					</div>
					<!-- Social -->
					<ul class="social">
						<li><a href="#"><span class="fa fa-facebook"></span></a></li>
						<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
						<li><a href="https://www.instagram.com/lllll_dior_lllll/?hl=uk"><span class="fa fa-instagram"></span></a></li>
						<li><a href="https://vk.com/isfandiyor_tjk_44"><span class="fa fa-vk-p"></span></a></li>
					</ul>
					<!-- End Social -->
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>© 2023 Distributed by <a href="#">Dior Shodiev</a></p>
				</div>
			</div>
		</div>
	</div>
</footer>
