{% load static %}

<!-- Header Area -->
<header id="header" class="header">
    <div class="header-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-2 col-xs-12">
                    <a href="/"><img src="{% static 'img/nnn.png' %}" class="logo" alt="logo.png"></a>
                </div>
                <div class="col-md-9 col-sm-10 col-xs-12">
                    <div class="mobile-menu"></div>
                    <nav class="navbar navbar-default">
                        <div class="collapse navbar-collapse">
                            <ul id="nav" class="nav navbar-nav">
                                <li class="current"><a href="#">Добро Пожаловать</a></li>
                                <li><a href="#about">Обо мне</a></li>
                                <li><a href="#service">My Service</a></li>
                                <li><a href="#skill">Skill</a></li>
                                <li><a href="#story">Story</a></li>
                                <li><a href="#blog">Blog</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
</header>
<!-- End Header Area -->