<!-- Start service -->
<section id="service" class="service section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2>My <span>Service</span></h2>
                </div> 
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                        <!-- single-service -->	
                        <div class="single-service">
                            <i class="fa fa-laptop"></i>
                            <h5>Web Development</h5>
                            <p>Процесс создания веб-сайта или веб-приложения. Основными этапами процесса являются веб-дизайн, вёрстка страниц, программирование на стороне клиента и сервера, а также конфигурирование веб-сервера.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                        <!-- single-service -->	
                        <div class="single-service">
                            <i class="fa fa-mobile"></i>
                            <h5>App Development</h5>
                            <p>Это процесс, при котором приложения разрабатываются для небольших портативных устройств, таких, как КПК, смартфоны или сотовые телефоны. Эти приложения могут быть предустановлены на устройство в процессе производства, загружены пользователем с помощью различных платформ для распространения ПО или являться веб-приложениями, которые обрабатываются на стороне клиента или сервера.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                        <!-- single-service -->	
                        <div class="single-service">
                            <i class="fa fa-paper-plane"></i>
                            <h5>Rebranding</h5>
                            <p>Отличие ребрендинга от брендинга принципиально. Если брендинг предполагает создание марки «с нуля», с возможностью выбора рыночной ниши, целевой аудитории, позиционирования, названия и дизайна, то ребрендинг имеет дело с определенной данностью - уже существующим брендом. </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                        <!-- single-service -->	
                        <div class="single-service">
                            <i class="fa fa-pencil"></i>
                            <h5>UI / UX Design</h5>
                            <p>Это проектирование удобных, понятных и эстетичных пользовательских интерфейсов. Чтобы разобраться, какие задачи решает специалист в этой сфере, нужно понять, что такое UX и UI.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
                        <!-- single-service -->	
                        <div class="single-service">
                            <i class="fa fa-camera"></i>
                            <h5>Photography Editor</h5>
                            <p>Это графический редактор для мобильных устройств – смартфонов и планшетов. Программа предлагает базовый и расширенный набор инструментов. С помощью приложения можно отредактировать любое фото, к примеру, для публикации в социальных сетях</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.9s">
                        <!-- single-service -->	
                        <div class="single-service">
                            <i class="fa fa-life-ring"></i>
                            <h5>SEO Marketing</h5>
                            <p>Это оптимизация сайта (страниц) для поисковых сетей (яндекс, Google и других) с целью вывода материалов на первые позиции по определённым запросам.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End service -->