<!-- Start skill -->
<section id="skill" class="skill section">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2>My <span>Skill</span></h2>
                </div>
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="skill-head">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="skill-content">
                                <h3>ЧТО ВАМ НУЖНО ЗНАТЬ </h3>
                                <p><b>Здравствуйте!, я Диор, разработчик сайтов из Таджикистана</b></p>
                                <p><b>Что я умею?<br>
                                    Формирование баз данных;<br>
                                    Создание архитектуры, оптимизация кода;<br>
                                    Вёрстка сайта и установка на CMS;<br>
                                    Разработка плагинов и парсеров;<br>
                                    Внесение правок и доработок в рабочие сайты (расширение функционала, исправление ошибок);<br>
                                    Наполнение контентом;<br>
                                    Написание новых сервисов и скриптов;<br>
                                    Разработка браузерных игр.</b></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="skill-main">
                                <div class="single-skill">
                                    <div class="skill-title">
                                        <h4>HTML & CSS3</h4>
                                    </div>
                                    <div class="progress two">
                                        <div class="progress-bar" data-percent="95">
                                            <span>95%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-skill">
                                    <div class="skill-title">
                                        <h4>DJANGO</h4>
                                    </div>
                                    <div class="progress two">
                                        <div class="progress-bar" data-percent="90">
                                            <span>90%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-skill">
                                    <div class="skill-title">
                                        <h4>PHOTOSHOP</h4>
                                    </div>
                                    <div class="progress two">
                                        <div class="progress-bar" data-percent="90">
                                            <span>90%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-skill">
                                    <div class="skill-title">
                                        <h4> C++ & C# </h4>
                                    </div>
                                    <div class="progress two">
                                        <div class="progress-bar" data-percent="55">
                                            <span>55%</span>
                                        </div>
                                    </div>
                                <div class="single-skill">
                                    <div class="skill-title">
                                        <h4> wordpress </h4>
                                    </div>
                                    <div class="progress two">
                                        <div class="progress-bar" data-percent="85">
                                            <span>85%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-skill">
                                    <div class="skill-title">
                                        <h4> Figma  </h4>
                                    </div>
                                    <div class="progress two">
                                        <div class="progress-bar" data-percent="70">
                                            <span>70%</span>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End skill -->	