<!-- Start Story -->
<section id="story" class="story section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <h2>my <span>Story</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="story-content">
                    <!-- single-story -->
                    <div class="single-story">
                        <span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.4s">2021</span>
                        <div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                            <h3>Закончил школу</h3>
                            <p class="p2"></p>
                        </div>
                    </div>
                    <!-- single-story -->
                    <div class="single-story">
                        <span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.6s">2021</span>
                        <div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                            <h3>Работаю в dodle</h3>
                            <p>Разработчиком html и учителем</p>
                            <p class="p2">Разрабатывал сайты под заказ я отвечал за html и структуры кода.</p>
                        </div>
                    </div>
                    <!-- single-story -->
                    <div class="single-story">
                        <span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">2021</span>
                        <div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
                            <h3>Поступил в Казанский Федеральный Университет</h3>
                        </div>
                    </div>
                    <!-- single-story -->
                    <div class="single-story">
                        <span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="1s">2022</span>
                        <div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1s">
                            <h3>Работаю в банке разработчиком</h3>
                            <p>Помощником</p>
                            <p class="p2">Отвечал за Frontend</p>
                        </div>
                    </div>
                    <div class="single-story">
                        <span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="1.1s">2023</span>
                        <div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1.1s">
                            <h3>Перевелся в Кемеровский государственный университет</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End story -->	